table, th, td{
    border: 1px solid black;
}
body{
    background-image: url(https://hagadone.media.clients.ellingtoncms.com/img/photos/2023/05/19/PET_TALK_Puppy_Timeline_t1170.jpg?5cc718665ab672dba93d511ab4c682bb370e5f86);
}
table {
    background-color: aliceblue;
}